body{
    background-color:#f0f0f0;

}
/*main*/
.pay_box{
    width:100%;
    overflow: hidden;
    background: #fff;
}
.pay_box .pay_main{
    width:120%;
    overflow:hidden;
    padding: 0.66rem 2%;
}
.pay_box li:after{
    border-color:#d2d2d2;
}
.pay_box li{
    position: relative;
    width:100%;

}
.pay_box li .pay_yuan{
    float: left;
    position: absolute;
    font-size:0.62rem;
    color:#3c3c3c;
}

.pay_box li .pay_text{
    float: left;
    width:85%;
    background: url('../images/adres_rl.png') no-repeat right center;
    background-size: 0.4rem 0.72rem;
    padding-right: 1.55rem;
    margin-left:1.8rem;
}
.pay_box p{
    font-size:0.62rem;
    color:#3c3c3c;
    overflow: hidden;
}
.pay_box .pay_p02{
    margin-top:0.4rem;
}
.pay_box .pay_p02 a{
    color:#3c3c3c;
    float: left;
}
.pay_box .pay_p02 a:first-child{
    margin-right: 1.48rem;
}
/*ÄÚÈÝ*/
.order_content{
    background: #fff;
    margin-bottom:0.4rem;
}
.index_bleft{
    margin-left:0.33rem;
    overflow: hidden;
}

.index_pro02{
    display: block;
}
.index_pro02 img{
    width:100%;
}

.index_text01{
    height:1.67rem;
    overflow: hidden;
}
.index_text01 a{
    font-size: 0.6rem;
    color:#3c3c3c;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.index_text02 {
    line-height: 1.05rem;
    color:#b4b4b4;
    font-size:0.53rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.index_text02 span{
    color: #3c3c3c;
}
.index_text04 .idnex_gw{
    width:42%;
    float: left;
    font-size:0.48rem;
    color:#ff0000;
    text-align: center;
    line-height:1.22rem ;
    border: solid 1px  #ff0000;
    border-radius: 4px;
}
.index_content{
    padding:0 20px;
    margin-bottom:0;
    overflow: hidden;
    padding-top:10px;
}

.detail_home_lin01{
    line-height: 1.8rem;

    margin:0 14px;
    background: #fff;
    overflow: hidden;
}
.detail_home_lin01:after{
    border-color: #c6c6c6;
}
.detail_home_lin01 a{
    float: left;
    font-size: 0.62rem;
    color: #3c3c3c;

}
.zf_pay{
    line-height: 3.02rem;
    padding-left:10px;
    font-size:0.62rem;
    color:#3c3c3c;
    margin:0 14px;
    margin-top:10px;
}
.zf_pay:after{
    border-color: #c8c8c8;
}
.zf_pay em{
    color: #ff0000;
}

/*±¸×¢*/
.pay_bz{
    background: #fff;
    padding-bottom: 0.6rem;
}
.pay_bz .pay_bz01{
    padding-left: 1.5rem;
    background:url('../images/zhifu_bz.png') no-repeat 0.71rem center ;
    background-size:0.56rem 0.6rem ;
    font-size:0.62rem;
    line-height: 1.51rem;
}
.pay_bz .pay_bz02{
    margin:0 14px;
}
.pay_zj{
    text-align: center;
    line-height: 3.1rem;
    background: #fff;
    margin-top:15px;
    font-size:0.71rem;
    color:#3c3c3c;
}
.pay_zj span{
    color: #ff0000;
    font-size:0.8rem;
}
.pay_zf {
    width: 72%;
    background: red;
    margin: auto;
    line-height: 1.55rem;
    border-radius: 8px;
    text-align: center;
    margin-top:1.55rem;
    margin-bottom:1.55rem;
}

.pay_zf a{
    font-size:0.8rem;
    color:#fff;
}